{% extends 'base.html.twig' %}

{% block title %}Pagina inicial{% endblock %}

{% block body %}
    <h1>Ola mundo</h1>
    <h3>{{ nomeCompleto }}</h3>
    <h3>{{ idade }}</h3>
    <h3>Sexo? {{ sexo }}</h3>
{% endblock %}